
{% extends 'base.html' %}

 
   {% block body %}
     <!--https://www.gracechristian.net/about/mission-vision/core-values-student-outcomes/-->
        <div class="container">
          
        <div class="container-fluid">
        <div class="container">
          
          <h1 class="display-3"><span>Mission & Vission!</span></h1>
          
          <p><span>Put your Mission Statement here:</span> For example Mount zion is a loving community that spiritually and academically equips, challenges, and inspires
          students to impact their world for Christ.
<br><br>
<span>Put your Vision Statementhere:</span> For example; Students at Mount Zion School will be grounded in  and challenged to achieve
academic excellence as they prepare to use their gifts and abilities effectively to follow  plan for their lives.
<br>

    
         
        
        <br>
                <div class="container">
                  
                      <div class="row">
                          
                        <div class="col-md-4">
                          <h2><a href="#BASIC" role="button">Statement of Faith</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          <h2><a href="#ADVANCED" role="button">Philosofy of Education</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          <h2><a href="#TAILOR" role="button">Core Values and Students Outcome</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          
                          <h2><a href="#GIS" role="button">Schedule a visit</a></h2> 
                        </div>
                        
                </div>
        </div>
        </div>
        
       <h2>About Mount Zion Video</h2>
       <div class = "container">
        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/k0Lnxx_4dwU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        </div>
       </div>
       
<br><br>
   
        
        
<h2><a name= BASIC></a> Statement of Faith</h2> 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!--<p><a class="btn btn-secondary" name="#BASIC GIS" role="button">View details &raquo;</a></p>-->

<h2><a name= ADVANCED></a> Philosofy of Education</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->

<h2><a name= TAILOR></a> Core Values and Students Outcome</h2>

            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->

<h2><a name= GIS></a> Schedule a visit</h2>

   <!--<p><a href="#top" role="button">Sign in to register for a class </a></p>-->
   


   {% endblock %}
